$colors: (
  primary: #e6e6e6,
  seoncdary: #f0f0f0,
  white: #fff,
  button: #8abae0,
  text: #333,
  activ: #cabdbd,
);
$main: #010101;
$buttons: #f97536;

@function color($name) {
  @return map-get($colors, $name);
}
